body,
html {
	height: 100%;
}

/*Header and Banner*/
.header {
	background-color: #c0a020;
	font-family: Helvetica, sans-serif;
	text-align: center;
	color: White;
	border-radius: 5px;
}

.header p {
	margin: 5px;
	font-size: 30px;
}

/*Nav Bar*/

.topnav {
	overflow: hidden;
	border-radius: 5px;
	background-color: #f0e060;
}

.topnav a {
	float: left;
	color: #141313;
	text-align: center;
	padding: 5px 16px;
	margin: auto;
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	font-size: 17px;
	border-radius: 5px;
}

.topnav a:hover {
	background-color: #e0c000;
	color: black;
}

.topnav a.active {
	background-color: #c0a020;
	color: white;
}

/* Content */
.Content {
	font-family: Helvetica, sans-serif;
	margin: auto;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.Content img {
	width: 50%;
}

table {
	width: 100%;
}

table .bulbImg {
	width: 200px;
}

.sepiaFilter {
	transition: 3s;
}

.sepiaFilter:hover {
	filter: sepia(100%);
}

/* The hero image */
.hero-image {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: url("images/LightbulbBanner.jpg");

	/* Set a specific height */
	height: 50%;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Place text in the middle of the image */
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: Helvetica, sans-serif;
}

.footer {
	margin: 5px;
	padding: 5px;
	color: gray;
	font-size: 10px;
	text-align: center;
	width: 100%;
	display: block;
	clear: left;
}

/* Gallery of bulb types */
table .gallery {
	width: 100%;
}

table.gallery td {
	width: 33%;
	text-align: center;
	margin: auto;
	padding: 5px;
	vertical-align: top;
}

table.gallery img {
	width: 35%;
}

.bulbImg {
	vertical-align: center;
}
